* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1320px;
  min-width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

button {
  background-color: #0282F9;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

header {
  height: 150px;
}
header .container {
  height: 142px;
  text-transform: uppercase;
  font-weight: bold;
}
header .container .header-left {
  float: left;
}
header .container .header-left img {
  margin-top: 23px;
}
header .container .header-right {
  float: right;
}
header .container .header-right ul {
  height: 146px;
}
header .container .header-right ul li {
  display: inline-block;
  padding: 0 1rem;
}
header .container .header-right ul li a {
  line-height: 146px;
  box-sizing: content-box;
}
header .container .header-right ul li a.active, header .container .header-right ul li a:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

.footer-top {
  height: 450px;
  overflow: hidden;
  background-position: center;
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
}
.footer-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top .container .big-logo {
  width: 40%;
  height: 450px;
  background-image: url("/img/dc-logo-bg.png");
  background-position: center;
  background-size: cover;
}

.related {
  display: flex;
}
.related .little-title h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 0 3rem 1rem 0;
}
.related .little-title.listed {
  padding: 1rem 0;
}
.related .little-title p a {
  color: #959595;
  font-size: 16px;
  margin: 0 20px 7px 0;
}
.related .little-title p a:hover {
  color: #0282F9;
}

.footer-bottom {
  background-color: #303030;
}
.footer-bottom .container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .call-to-action a {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  border: 2px solid #0282F9;
  padding: 1rem;
}
.footer-bottom .container .call-to-action a:hover {
  color: #0282F9;
}
.footer-bottom .container .follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .follow h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #0282F9;
  padding-right: 1rem;
}
.footer-bottom .container .follow ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .follow ul a {
  padding: 0 8px;
}

main {
  background-color: #1C1C1C;
  text-align: center;
}
main .jumbotron {
  height: 400px;
  background-position: top;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
}
main .container {
  color: #fff;
  text-transform: uppercase;
  text-align: start;
}
main .container button.big-btn {
  font-size: 24px;
  padding: 8px 24px;
  margin-top: -25px;
  margin-bottom: 2rem;
}
main .container .main-cards {
  display: flex;
  flex-wrap: wrap;
}
main .card-box {
  flex-basis: calc(100% / 6);
  border: 1rem solid #1C1C1C;
  margin-bottom: 1rem;
}
main .card-box img {
  width: 100vw;
  height: 188px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .card-box h5 {
  padding-top: 8px;
}
main button {
  font-size: 12px;
  padding: 8px 40px;
  margin-bottom: 1rem;
}

section {
  background-color: #0282F9;
  color: #fff;
  text-transform: uppercase;
  padding: 2rem 0;
  font-size: 14px;
}
section .container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .container .item {
  display: flex;
  align-items: center;
}
section .container .item .little-img {
  width: 30px;
  margin-right: 1rem;
}
section .container .item a {
  color: #fff;
}
section .container .item a:hover {
  color: #000;
}