header {
    height: 150px;
    .container {
        height: 142px;
        text-transform: uppercase;
        font-weight: bold;
        .header-left {
            float: left;
            img {
             margin-top: 23px;
            }
        }

       .header-right {
            float: right;
            ul {
                height: 146px;
                li {
                    display: inline-block;
                    padding: 0 1rem;
                    a {
                        line-height: 146px;
                        box-sizing: content-box;
                        &.active,
                        &:hover {
                            color: $main-color;
                            border-bottom: 4px solid $main-color;
                        }
                    }
                }   
            }
        }
    }
      
}